HOTSTORAGE_USERNAME=mongodb-user
HOTSTORAGE_PASSWORD=
HOTSTORAGE_NAME=mongodb-database
MONGODB_DIR=/usr/local/var/lib/docker/mongodb
ZOOKEEPER_1_HOST=
ZOOKEEPER_2_HOST=
ZOOKEEPER_3_HOST=
SCHEMA_REGISTRY_URL=
REST_PROXY_URL=
SERVER_NAME=
