HOTSTORAGE_USERNAME=mongodb-user
HOTSTORAGE_PASSWORD=
HOTSTORAGE_NAME=mongodb-database
MONGODB_DIR=/usr/local/var/lib/docker/mongodb
ZOOKEEPER_1_HOST=
ZOOKEEPER_2_HOST=
ZOOKEEPER_3_HOST=
SCHEMA_REGISTRY_URL=
REST_PROXY_URL=
SERVER_NAME=
MANAGEMENT_PORTAL_URL=http://managementportal-app:8080/managementportal
REST_API_OAUTH_CLIENT_SECRET=secret
NETDATA_MASTER_HOST=
NETDATA_STREAM_API_KEY=
