KAFKA_1_HOST=
KAFKA_2_HOST=
KAFKA_3_HOST=
ZOOKEEPER_1_HOST=
ZOOKEEPER_2_HOST=
ZOOKEEPER_3_HOST=
SCHEMA_REGISTRY_URL=
HOTSTORAGE_USERNAME=
HOTSTORAGE_PASSWORD=
HOTSTORAGE_NAME=
HOTSTORAGE_HOST=
HOTSTORAGE_PORT=27017
FITBIT_API_CLIENT_ID=
FITBIT_API_CLIENT_SECRET=
RADAR_SCHEMAS_VERSION=0.5.1
HDFS_NAMENODE_URL=
NETDATA_MASTER_HOST=
NETDATA_STREAM_API_KEY=