# uncomment and add according to which optional services need to use the webserver.
location /redcapint/ {
  proxy_pass         http://radar-integration:8080/redcap/;
  proxy_set_header   Host $host;
}

location /rest-sources/authorizer/ {
  proxy_pass         http://radar-rest-sources-authorizer:80/;
  proxy_set_header   Host $host;
}

location /rest-sources/backend/ {
  proxy_pass         http://radar-rest-sources-backend:8080/;
  proxy_set_header   Host $host;
}