DASHBOARD_TOPIC_LIST=android_phone_relative_location,android_phone_battery_level,connect_fitbit_intraday_heart_rate
TIMESCALEDB_PASSWORD=password
TIMESCALEDB_DB=radar-data
TIMESCALEDB_DIR=/usr/local/var/lib/docker/timescaledb
GRAFANA_PASSWORD=password
RADAR_SCHEMAS_VERSION=0.5.1
