SERVER_NAME=localhost
KAFKA_1_HOST=
KAFKA_2_HOST=
KAFKA_3_HOST=
ZOOKEEPER_1_HOST=
ZOOKEEPER_2_HOST=
ZOOKEEPER_3_HOST=
SCHEMA_REGISTRY_URL=
DASHBOARD_TOPIC_LIST=android_phone_relative_location,android_phone_battery_level,connect_fitbit_intraday_heart_rate
TIMESCALEDB_PASSWORD=password
TIMESCALEDB_DB=radar-data
TIMESCALEDB_DIR=/usr/local/var/lib/docker/timescaledb
GRAFANA_PASSWORD=password
GRAFANA_SMTP_ENABLED=false
GRAFANA_SMTP_HOST=
RADAR_SCHEMAS_VERSION=0.5.1
NETDATA_MASTER_HOST=
NETDATA_STREAM_API_KEY=