MANAGEMENT_PORTAL_URL=http://localhost:8081
POSTGRES_DB_URL=localhost:5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=radar
NETDATA_MASTER_HOST=
NETDATA_STREAM_API_KEY=
RADAR_ADMIN_USER=radar
RADAR_ADMIN_PASSWORD=radar
SPRING_BOOT_ADMIN_USER_NAME=radar
SPRING_BOOT_ADMIN_USER_PASSWORD=appserver
APPSERVER_LOG_DIR=/usr/local/var/log/radar/appserver/
GOOGLE_APPLICATION_CREDENTIALS_FILE_PATH=./etc/google-credentials.json
POSTGRES_DB_NAME=appserver-alpha