ZOOKEEPER_1_HOST=
ZOOKEEPER_2_HOST=
ZOOKEEPER_3_HOST=
MANAGEMENT_PORTAL_URL=
DASHBOARD_URL=
PORTAINER_URL=
REST_API_URL=
KAFKA_MANAGER_URL=
RADAR_REST_SOURCES_URL=
RADAR_REST_SOURCES_BACKEND_URL=
REDCAP_INTEGRATION_APP_URL=
RADAR_SCHEMAS_VERSION=0.5.1
ENABLE_HTTPS=yes
SERVER_NAME=localhost
SELF_SIGNED_CERT=yes
KAFKA_MANAGER_USERNAME=kafkamanager-user
KAFKA_MANAGER_PASSWORD=kafkamanager-password
MANAGEMENTPORTAL_OAUTH_CHECKING_KEY_ALIASES_0=radarbase-managementportal-ec
MANAGEMENTPORTAL_OAUTH_CHECKING_KEY_ALIASES_1=selfsigned
NETDATA_MASTER_HOST=
NETDATA_STREAM_API_KEY=