ZOOKEEPER_1_HOST=
ZOOKEEPER_2_HOST=
ZOOKEEPER_3_HOST=
KAFKA_1_HOST=
KAFKA_2_HOST=
KAFKA_3_HOST=
MANAGEMENT_PORTAL_URL=
PORTAINER_URL=
KAFKA_MANAGER_URL=
RADAR_REST_SOURCES_URL=
RADAR_REST_SOURCES_BACKEND_URL=
REDCAP_INTEGRATION_APP_URL=
HDFS_NAMENODE_UI_URL=
APPSERVER_ALPHA_URL=
APPSERVER_URL=
PUSH_ENDPOINT_URL=
MLFLOW_URL=
GRAFANA_DASHBOARD_URL=
RADAR_SCHEMAS_VERSION=0.7.1
ENABLE_HTTPS=yes
SERVER_NAME=localhost
SELF_SIGNED_CERT=yes
KAFKA_MANAGER_USERNAME=kafkamanager-user
KAFKA_MANAGER_PASSWORD=kafkamanager-password
MANAGEMENTPORTAL_OAUTH_CHECKING_KEY_ALIASES_0=radarbase-managementportal-ec
MANAGEMENTPORTAL_OAUTH_CHECKING_KEY_ALIASES_1=selfsigned
NETDATA_MASTER_HOST=
NETDATA_STREAM_API_KEY=
NETDATA_USERNAME=netdata-user
NETDATA_PASSWORD=netdata-password
HDFS_NAMENODE_UI_USER=hdfsnamenode-user
HDFS_NAMENODE_UI_PASSWORD=
RADAR_REST_SOURCES_AUTH_USER=rest-source-user
RADAR_REST_SOURCES_AUTH_PASSWORD=
MLFLOW_USERNAME=mlflow-user
MLFLOW_PASSWORD=mlflow-password