SERVER_NAME=localhost
SELF_SIGNED_CERT=yes
MAINTAINER_EMAIL=me@example.com
RADAR_TOPIC_LIST=android_empatica_e4_acceleration,android_empatica_e4_acceleration_output,android_empatica_e4_battery_level,android_empatica_e4_battery_level_output,android_empatica_e4_blood_volume_pulse,android_empatica_e4_blood_volume_pulse_output,android_empatica_e4_electrodermal_activity,android_empatica_e4_electrodermal_activity_output,android_empatica_e4_heartrate,android_empatica_e4_inter_beat_interval,android_empatica_e4_inter_beat_interval_output,android_empatica_e4_sensor_status,android_empatica_e4_sensor_status_output,android_empatica_e4_temperature,android_empatica_e4_temperature_output,application_server_status,application_record_counts,application_uptime,application_external_time,android_phone_battery_level,android_phone_acceleration,android_phone_light,android_pebble2_acceleration,android_pebble2_battery_level,android_pebble2_heart_rate,android_pebble2_heart_rate_filtered,active_questionnaire_phq8,schemaless-key,schemaless-value
RADAR_RAW_TOPIC_LIST=android_empatica_e4_acceleration,android_empatica_e4_battery_level,android_empatica_e4_blood_volume_pulse,android_empatica_e4_electrodermal_activity,android_empatica_e4_inter_beat_interval,android_empatica_e4_sensor_status,android_empatica_e4_temperature,application_server_status,application_record_counts,application_uptime,application_external_time,android_phone_battery_level,android_phone_acceleration,android_phone_light,android_pebble2_acceleration,android_pebble2_battery_level,android_pebble2_heart_rate,android_pebble2_heart_rate_filtered,active_questionnaire_phq8
RADAR_AGG_TOPIC_LIST=android_empatica_e4_acceleration_output,android_empatica_e4_battery_level_output,android_empatica_e4_blood_volume_pulse_output,android_empatica_e4_electrodermal_activity_output,android_empatica_e4_heartrate,android_empatica_e4_inter_beat_interval_output,android_empatica_e4_sensor_status_output,android_empatica_e4_temperature_output,application_server_status,application_record_counts,application_uptime,application_external_time,active_questionnaire_phq8
HOTSTORAGE_USERNAME=<mongodb-user>
HOTSTORAGE_PASSWORD=XXXXXXXX
HOTSTORAGE_NAME=<mongodb-database>
HDFS_DATA_DIR_1=/usr/local/var/lib/docker/hdfs-data-1
HDFS_DATA_DIR_2=/usr/local/var/lib/docker/hdfs-data-2
HDFS_NAME_DIR_1=/usr/local/var/lib/docker/hdfs-name-1
HDFS_NAME_DIR_2=/usr/local/var/lib/docker/hdfs-name-2
MONGODB_DIR=/usr/local/var/lib/docker/mongodb
POSTGRES_USER=<postgresdb-user>
POSTGRES_PASSWORD=<postgresdb-pwd>
FROM_EMAIL=<from-email>