SERVER_NAME=localhost
MANAGEMENTPORTAL_KEY_DNAME=CN=localhost,OU=MyName,O=MyOrg,L=MyCity,S=MyState,C=MyCountryCode
MANAGEMENTPORTAL_FRONTEND_CLIENT_SECRET=
SELF_SIGNED_CERT=yes
MAINTAINER_EMAIL=me@example.com
RADAR_RAW_TOPIC_LIST=android_phone_usage_event_aggregated,android_phone_usage_event_output
RADAR_AGG_TOPIC_LIST=
HOTSTORAGE_USERNAME=mongodb-user
HOTSTORAGE_PASSWORD=
HOTSTORAGE_NAME=mongodb-database
MONGODB_DIR=/usr/local/var/lib/docker/mongodb
MP_POSTGRES_DIR=/usr/local/var/lib/docker/postgres
POSTGRES_USER=postgresdb-user
POSTGRES_PASSWORD=
FROM_EMAIL=from-email
MANAGEMENTPORTAL_CATALOGUE_SERVER_ENABLE_AUTO_IMPORT=false
HEALTHCHECK_HIPCHAT_NOTIFY=no
HEALTHCHECK_HIPCHAT_ROOM_ID=""
HEALTHCHECK_HIPCHAT_TOKEN=""
HDFS_BASE_VERSION=3.0.3-alpine
HDFS_DATA_DIR_1=/usr/local/var/lib/docker/hdfs-data-1
HDFS_DATA_DIR_2=/usr/local/var/lib/docker/hdfs-data-2
HDFS_DATA_DIR_3=/usr/local/var/lib/docker/hdfs-data-3
HDFS_NAME_DIR_1=/usr/local/var/lib/docker/hdfs-name-1
HDFS_NAME_DIR_2=/usr/local/var/lib/docker/hdfs-name-2
HDFS_JOURNAL_DIR_1=/usr/local/var/lib/docker/hdfs-journal-1
HDFS_JOURNAL_DIR_2=/usr/local/var/lib/docker/hdfs-journal-2
HDFS_JOURNAL_DIR_3=/usr/local/var/lib/docker/hdfs-journal-3
POSTGRES_VERSION=10.4-alpine
KAFKA_MANAGER_USERNAME=kafkamanager-user
KAFKA_MANAGER_PASSWORD=
PORTAINER_PASSWORD_HASH=
MANAGEMENTPORTAL_OAUTH_CHECKING_KEY_ALIASES_0=
MANAGEMENTPORTAL_OAUTH_CHECKING_KEY_ALIASES_1=
RESTRUCTURE_OUTPUT_DIR=output
ENABLE_OPTIONAL_SERVICES=false
FITBIT_API_CLIENT_ID=fitbit-client
FITBIT_API_CLIENT_SECRET=fitbit-secret
