SERVER_NAME=localhost
MANAGEMENTPORTAL_KEY_DNAME=CN=localhost,OU=MyName,O=MyOrg,L=MyCity,S=MyState,C=MyCountryCode
MANAGEMENTPORTAL_FRONTEND_CLIENT_SECRET=
SELF_SIGNED_CERT=yes
MAINTAINER_EMAIL=me@example.com
RADAR_RAW_TOPIC_LIST=
RADAR_AGG_TOPIC_LIST=
HOTSTORAGE_USERNAME=<mongodb-user>
HOTSTORAGE_PASSWORD=XXXXXXXX
HOTSTORAGE_NAME=<mongodb-database>
HDFS_DATA_DIR_1=/usr/local/var/lib/docker/hdfs-data-1
HDFS_DATA_DIR_2=/usr/local/var/lib/docker/hdfs-data-2
HDFS_NAME_DIR_1=/usr/local/var/lib/docker/hdfs-name-1
HDFS_NAME_DIR_2=/usr/local/var/lib/docker/hdfs-name-2
MONGODB_DIR=/usr/local/var/lib/docker/mongodb
MP_POSTGRES_DIR=/usr/local/var/lib/docker/postgres
POSTGRES_USER=<postgresdb-user>
POSTGRES_PASSWORD=<postgresdb-pwd>
FROM_EMAIL=<from-email>
MANAGEMENTPORTAL_CATALOGUE_SERVER_ENABLE_AUTO_IMPORT=false