# uncomment and add according to which optional services need to use the webserver.
#location /redcapint/ {
#  proxy_pass         http://radar-integration:8080/redcap/;
#  proxy_set_header   Host $host;
#}
