# Set a secret pepper that the passwords will be hashed with
# Minimum length is 16 characters
GRAYLOG_PASSWORD_SECRET=

# Set a password for the admin user. Obtain the SHA2 of the
# password by running echo -n "mypassword" | shasum -a 256
GRAYLOG_ROOT_PASSWORD_SHA2=

# Web address for Graylog to run on
GRAYLOG_WEB_ENDPOINT_URI=http://127.0.0.1:9000/api
