---
version: '2.2'


volumes:
  kafka-1-data: {}
  kafka-2-data: {}
  kafka-3-data: {}
  zookeeper-1-data: {}
  zookeeper-2-data: {}
  zookeeper-3-data: {}
  zookeeper-1-log: {}
  zookeeper-2-log: {}
  zookeeper-3-log: {}
