HOSTNAME=
NETDATA_MASTER_HOST=
NETDATA_STREAM_API_KEY=
KAFKA_BROKER_1_LOGS_PATH=/usr/local/var/lib/docker/kafka-1/
KAFKA_BROKER_2_LOGS_PATH=/usr/local/var/lib/docker/kafka-2/
KAFKA_BROKER_3_LOGS_PATH=/usr/local/var/lib/docker/kafka-3/