[Unit]
Description=RADAR FCM XMPP service

[Service]
TimeoutStartSec=0
TimeoutStopSec=90
Restart=always
RestartSec=10

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=radar-xmpp-server

WorkingDirectory=

ExecStart=./bin/start-xmpp.sh

ExecReload=/usr/local/bin/docker-compose restart

ExecStop=/usr/local/bin/docker-compose down

NotifyAccess=all

[Install]
WantedBy=default.target
