[Unit]
Description=RADAR-Docker renew ssl certificate daily
BindsTo=radar-docker.service

[Timer]
OnCalendar=daily
RandomizedDelaySec=2min
Persistent=true
Unit=radar-check-health.service

[Install]
WantedBy=multi-user.target




