[Unit]
Description=RADAR-Docker health checking every 5 minutes
BindsTo=radar-docker.service

[Timer]
OnBootSec=10min
OnUnitActiveSec=5min
Unit=radar-check-health.service

[Install]
WantedBy=default.target