[global]
    # disable the local database
    memory mode = none

[health]
    # disable health checks
    enabled = no

[web]
    # disable web console and registry as this is a slave
    mode = none