ZOOKEEPER_1_HOST=
ZOOKEEPER_2_HOST=
ZOOKEEPER_3_HOST=
SCHEMA_REGISTRY_URL=
REST_PROXY_URL=
PORTAINER_PASSWORD_HASH=
NETDATA_STREAM_API_KEY=
MAINTAINER_EMAIL=
SMTP_SERVER_HOST=
NETDATA_ALERT_SLACK_ENABLE=NO
NETDATA_ALERT_SLACK_WEBHOOK=https://hooks.slack.com/services/XXXXXXXX/XXXXXXXX/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
NETDATA_ALERT_SLACK_CHANNEL=# #netdata-alarms
WEBSERVER_STATUS_STUB_URL=