RESTRUCTURE_NUM_THREADS=3
RESTRUCTURE_ENABLE_SNAPSHOTS=true
OUTPUT_USER=
OUTPUT_GROUP=
HDFS_NAMENODE_URL=
RESTRUCTURE_OUTPUT_DIR=output
RESTRUCTURE_SERVICE_POLL_INTERVAL_SECONDS=3600
NETDATA_MASTER_HOST=
NETDATA_STREAM_API_KEY=