MANAGEMENTPORTAL_COMMON_ADMIN_PASSWORD=
MANAGEMENTPORTAL_COMMON_PRIVACY_POLICY_URL=http://info.thehyve.nl/radar-cns-privacy-policy
MANAGEMENTPORTAL_OAUTH_CHECKING_KEY_ALIASES_0=radarbase-managementportal-ec
MANAGEMENTPORTAL_OAUTH_CHECKING_KEY_ALIASES_1=selfsigned
POSTGRES_VERSION=10.6-alpine
MP_POSTGRES_DIR=/usr/local/var/lib/docker/postgres
POSTGRES_USER=postgresdb-user
POSTGRES_PASSWORD=
FROM_EMAIL=from-email
MANAGEMENTPORTAL_CATALOGUE_SERVER_ENABLE_AUTO_IMPORT=false
MANAGEMENTPORTAL_CATALOGUE_SERVER_URL=
SERVER_NAME=localhost
MANAGEMENTPORTAL_KEY_DNAME=CN=localhost,OU=MyName,O=MyOrg,L=MyCity,S=MyState,C=MyCountryCode
MANAGEMENTPORTAL_FRONTEND_CLIENT_SECRET=
NETDATA_MASTER_HOST=
NETDATA_STREAM_API_KEY=
REST_SOURCES_AUTH_MP_CLIENT_ID=
REST_SOURCES_AUTH_MP_CLIENT_SECRET=